@charset "UTF-8";

*{margin: 0; padding: 0; box-sizing: border-box;}

body {padding: 0px; margin: 0px;}

#left {width: 75%; height: 100vh; float: left;}

#right {width : 25%; height: 100vh; float: right;}

#vdo_player {width : 100%; height: 550px;}

#control {width : 100%; height: 70px; background-color: black; display: flex; justify-content: space-between;
align-items: center;}

#progress_box {width : 100%; height: 10px; background-color: white; margin-bottom: 3px;}

#progress_bar {width : 0%; height: 10px; background: #7F00FF;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #E100FF, #7F00FF);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #E100FF, #7F00FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
cursor: pointer;}

#play_btn {font-size: 45px; color: white; cursor: pointer; margin-left: 20px; margin-right: 20px;}

#left_btn,#right_btn {font-size: 30px; color: white; cursor: pointer;}

#play_tools {display: flex; justify-content: center; align-items: center; width: 33.33%;}

#other_tools {width: 33.33%; display: flex; justify-content: flex-end;}

#v_timing {color: white; font-size: 20px; font-family: 'Ubuntu', sans-serif; margin-left: 20px;}

#volume,#speed_icon,#full_screen {color: white; font-size: 26px; margin-right: 20px; cursor: pointer;}

#top {width : 100%; height: 17%; background: #ddd; padding: 15px; position: relative;}

#top h3 {font-family: 'Ubuntu', sans-serif; text-align: center; font-size: 25px;}

#search {width: 100%; padding: 8px; border: 1px solid #ccc; font-family: 'Ubuntu', sans-serif; margin-top: 15px; 
outline: none;}

#open_d_box {position: absolute; font-size: 25px; top: 15px; right: 15px; cursor: pointer;}

#add_vdo_box {width: 80%; height: auto; background-color: #323232; border-radius: 15px 0px 15px 15px; position: absolute;
top: 18px; right: 40px; padding: 15px; display: none;}

#add_vdo_box h2 {color: white; font-family: 'Ubuntu', sans-serif; text-align: center; margin-bottom: 15px;}

#v_name,#v_link {width : 100%; padding: 8px; font-family: 'Ubuntu', sans-serif; border: 1px solid #ccc; 
margin-bottom: 15px;}

#add_vdo_btn {width : 70px; background-color: white; border: none; outline: none; padding: 8px; 
font-family: 'Ubuntu', sans-serif;}

#bottom {width: 100%; height: 80%; padding: 20px; overflow: auto;}

#main_vdo_box {width: 100%; background: white; height: auto; box-shadow: 0px 0px 6px #ccc; margin-bottom: 15px;}

#vdo_p {width: 100%; padding: 10px; font-family: 'Ubuntu', sans-serif; font-size: 18px;}

#play_vdo_btn,#delete_vdo_btn {width: 50%; border: none; padding: 9px; font-family: 'Ubuntu', sans-serif; 
cursor: pointer; color: white; outline: none;}

#play_vdo_btn {background-color : #304ffe;}

#delete_vdo_btn {background-color: #ff1744}

#vol_control,#speed_control {appearance: none; transform: rotate(270deg); outline: none; width: 100px; height: 20px; 
background-color: #ff1744; position: absolute; top : -70px; left: -30px;}

#vol_control::-webkit-slider-thumb {appearance: none; width: 15px; height: 20px; background-color: white;}

#speed_control::-webkit-slider-thumb {appearance: none; width: 15px; height: 20px; background-color: white;}

#vol_box,#speed_box {position: relative; width: fit-content; }



/*responsive coding Start*/

@media(max-width : 768px)
{
	#left {width : 100%; height: auto;}
	#right {width: 100%; height: auto;}

	#volume,#speed_icon,#full_screen {font-size: 20px; margin-right: 14px;}
	#left_btn,#right_btn {font-size: 20px;}
	#play_btn {font-size: 30px; margin-right: 10px; margin-left: 10px;}
	#profile_box,#progress_bar {height: 4px;}


}

/*responsive coding End*/